<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Totalizar Alimentos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/style.css" />
</head>
<body>
  <form action="/" method="post" target="_blank"  enctype="multipart/form-data">
    <h1>Totalizar Alimentos</h1>
    <label for="file">Sube el archivo CSV aquí:</label>
    <br/>
    <small>
      Para saber como exportar de Excel a CSV 
      <a href="https://support.office.com/es-es/article/guardar-un-libro-en-formato-de-texto-txt-o-csv-3e9a9d6c-70da-4255-aa28-fcacf1f081e6">clic aquí</a>
    </small>
    <br/>
    <br/>
    <input type="file" name="file"/>
    <br/>
    <br/>
    <input type="submit" value="Totalizar">
  </form>  
</body>
</html>
